* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      background-color: whitesmoke;
      background-size: 100vh;
      font-family: 'Dosis', sans-serif;
      height: 100vh;
      font-size: 12px;
    }

    header {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* se a tela tiver pelo pelos 400px vai carregar estes estilos */
    @media (min-width: 400px) {
        body {
            font-size: 14px;
        }
    }

    @media (min-width: 600px) {
        body {
            font-size: 18px;
        }
    }
    
    .menu {
      background-color: white;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
      
      
    }
    
    .menu li {
      list-style: none;
    }
    
    .menu ul{
      display: flex;
      justify-content: space-around;
    }

    .menu a {
        
        display: block;
        padding: 10px 20px;
        transition: background-color 2s, color 1s;

    }

    .menu a:hover {
      background-color: midnightblue;
      color: white;

    }
    
    a {
      color: midnightblue;
      text-decoration: none;
      font-weight: bold;

      
    }
    a:hover{
      text-decoration: underline;
    }

    .titulo {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
      animation: 0.5s linear 0.5s animacaoTitulo forwards;
    }

    @keyframes animacaoTitulo{

      100% {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }


    .site-subtitle,
    .site-title {
      color: midnightblue;
      text-align: center;
      font-style: bold;
    }

    .contato .icons {
      text-align: center;
      
    }

    .sobre,
    .contato,
    .portfolio {
      padding: 2em;
      min-height: 55vh; 
    }
    .sobre .avatar img{ 
      width: 350px ;
      height: 350px;
    }

    
    .sobre .avatar{
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); 
      float: right;
      margin-left: 2em;
      }
    @media (max-width: 600px) {
        .sobre .avatar { 
          clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
    }

    @media (min-width: 1200px) {
      .container{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      }
    }

    .contato h2 {
      margin-bottom: 1.5em;
      font-size: 20px;
      font-weight: bold;
    }

    .sobre,
    .portfolio h2 {
      margin-bottom: 1.5em;
      font-size: 20px;
      font-weight: bold;
      text-align: center;

    
      
    }
    .sobre p {
      color:black;
      margin-bottom: 0.5em;
      text-indent: 2em;
      text-align: justify;
    }

    .portfolio .grid {
      display: grid;
      gap: 2em;
      grid-template-columns: 100px 100px 100px;
      justify-content: center;
      
      
    }

    .portfolio figure {
      text-align: center;
    }

    .img-portfolio {
      height: 80px;
      width: 80px;
      object-position: left bottom;
      transition: transform 500ms;
      
    }

    .img-portfolio:hover {
      transform: scale(1.2) rotate(360deg);

    }
    
    .contato a {
      color: black;
      font-size: 4em;
      transition: text-shadow 1s;
    }
    .contato a:active,
    .contato a:hover {
      text-decoration: none;
      text-shadow: 0px 0px 10px rgba(000,000,000, .5);
    }

    


   
    
